doctype html
html(ng-app='athlete-analysis', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Athlete Analysis
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/angular-bootstrap/ui-bootstrap-csp.css')
  body
    .container-fluid
      //-.row#header
        //-h1.text-center Athlete Analysis 
          //-span.h3.small Powered by Alchemy API and IBM Bluemix
      .row(ui-view)
      .row#footer
        hr
        .col-xs-12.col-sm-4
          .jewel
            .inner
              i.fa.fa-lg.fa-user
              h4 Search a Player
        .col-xs-12.col-sm-4
          .jewel
            .inner
              i.fa.fa-lg.fa-search
              h4 Find articles
        .col-xs-12.col-sm-4
          .jewel
            .inner
              i.fa.fa-lg.fa-bar-chart
              h4 Sentiment Analysis
      hr
      .row
        .col-xs-12.text-center
          p Made over 48 hours for the #1stWatsonHack, World of Watson 2015.
          p Built by <a href='http://twitter.com/mikeybadr'> Mikey</a>, 
            a(href='http://twitter.com/eham06') Eric, 
            a(href='http://twitter.com/elleyeung') Elle, 
            a(href='http://twitter.com/kpradt') Katherine, 
            span and 
            a(href='http://twitter.com/PC3SQ') Peter.
          br
          a(href='http://github.com/mfbadr/athlete-analysis') 
            i.fa.fa-2x.fa-github 
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap.min.js')
    script(src='/index.js')
    script(src='/factories/athlete.js')
    script(src='/views/home/home.js')
