html
  head
    title Athlete Analysis
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  body
    h2 Hello world!
    p Welcome to Athlete analysis
    script(src='/vendor/angular/angular.min.js')
