@darkerblue: #3D6D99;
@lighterblue: #4C8ECC;
@pale: #ABD7FF;
@dark: #566B7F;
@egg: #5FB2FF;
@veniceblue: #2B5174;

html{
  width: 100%;
}

body{
  width: 100%;
  background-color: @veniceblue;
}

#header{
  color: @pale;
}

.well{
  margin-bottom: 0px;
}
#label{
  margin-top: 0px;
  margin-bottom: 0px;
}
#formWrapper{
  background-color: @lighterblue;
  display: inline;
  padding: 14px;
  width: 100%;
  overflow: auto;
  border-radius: 5px;
}
