.col-xs-12#formWrapper
  img(src='assets/AAlogo3.png')
  #formWell 
    form(role='form', name='athleteForm', autofocus, required)
      .form-group
        p.h3.text-center#label(for='athlete') Enter an Athlete
        input.form-control#athlete(type='text', name='athlete', ng-model='athlete')
      button.btn-lg.btn-primary.center-block#btn(ng-click='submit()') Analyse {{athlete}}
.col-xs-12
  hr
  div.text-center(ng-if='results === "loading"')
    i.fa.fa-5x.fa-spinner.fa-spin
    h4 Getting results...
  div.well(ng-show='results && results !== "loading"')
    h2.text-center {{results.target}}
    h3.text-center Average sentiment: {{results.averageSentiment.toFixed(5)}} &nbsp;
      i.fa.fa-2x.fa-thumbs-up(ng-if='results.averageSentiment > 0')
      i.fa.fa-2x.fa-thumbs-down(ng-if='results.averageSentiment < 0')
    

    div(ng-repeat='result in results.data')
      ul
        li: a.h3(href='{{result.url}}') This article has a {{result.docSentiment.type}} opinion of {{results.target}}. &nbsp;
          span.small(ng-if='result.docSentiment.score') Sentiment score of {{result.docSentiment.score}}
          span.small(ng-if='!result.docSentiment.score') No sentiment score for neutral articles.
      //pre {{result}}


